/*reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*header*/


.hero{
  width:100%;
  height: 860px;
  background: #CE2829;
  background-image: url("public/assets/iteration-1/home-banner.png");
  background-size: cover;    
  background-position:bottom center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction:column;
  align-items:center;
  padding-top:2rem;  
}

.logo{
  width:340px;
  margin-bottom:1.5rem;

  
}

.hero-italik{
  font-family:'Satisfy', cursive;
  color:#FDC913;
  font-size:1.3rem;
  margin-bottom: 0.5rem;
  text-align: center;

}


.hero-title{
  font-family:'Roboto Condensed', sans-serif; 
  font-size:4rem;
  font-weight:lighter;
  line-height:4.2rem;
  color: #FFFFFF;
  text-align: center;
  margin-bottom:1.8rem; 
 
}


.hero-buton{
  font-family:'Barlow', sans-serif;
  background: #FDC913;
  padding:1rem 3rem;
  border-radius: 30px;
  color: black;
  font-weight:bold;
  text-decoration:none;
  margin-bottom: 1rem; 
}

.hero-buton:hover{
  color:#FFFFFF;
  background-color: #1A1A1A;
  
}



/*nav*/

.menu-nav{
    background-color:#FFFFFF;
    display:flex;
    align-items:center;
    justify-content:center ;
    gap:4.5rem;
    padding:1rem 0;

}

.nav-item{
    display:flex;
    align-items:center;
    gap: 1rem; 
    text-decoration:none;
    color: black;
    font-size: 14px;
    font-weight:bolder;
    font-family:'Barlow', sans-serif;;
}

.nav-item img{
    width:22px;
    height:22px;
}
.nav-item:hover{
  color: #CE2829;
  
}



/*üç kart kısmı*/

.special-offer{
  background: #FAF7F2;
  padding: 60px 0;
}

.special-container{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}

.special-left{
  background-image: url("public/assets/iteration-2/cta/kart-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 50%;
  color: white;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #CE2829;
  
}

.special-left h2{
  font-family:'Quattrocento', serif; 
  font-size:60px;
  margin:0 0 15px;
  line-height: 4rem;
}
.special-left p{
  font-size:18px;
  margin:0px 0px 20px;
  font-family: 'Barlow', sans-serif;
}


.buton-order {
  background: #FFFFFF;
  color: #CE2829;
  padding:10px 20px;
  border-radius: 20px;
  font-weight:bold;
  text-decoration:none;
  display: inline-block;
  width: fit-content;
  font-family: 'Barlow', sans-serif;;
  
}
.buton-order:hover{
  background:#FDC913;
  color: #FFFFFF;
  cursor:pointer;
}


.special-right {
  width: 50%;
  display: flex;
  flex-direction:column;
  gap: 10px;
}

.special-card{
  color: white;
  height: 180px;
  padding: 20px;
  border-radius: 12px;
  display:flex;
  flex-direction: column;
   justify-content: center;
  gap: 1rem;
  
}
.card-dark {
  background-image: url("public/assets/iteration-2/cta/kart-2.png");
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #292929;
  
}
.card-dark h3{
  font-size: 25px;
  font-family: 'Barlow', sans-serif;
}

.card-light{
  background-image: url("public/assets/iteration-2/cta/kart-3.png");
  color: black;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FFEECC;
}
.card-light h3{
  font-size: 25px;
  font-family: 'Barlow', sans-serif;

}
.red{
  color: #CE2829;
  font-family: 'Barlow', sans-serif;;
}




/*Alt menü kısmı */

.menu-section{
  text-align: center;
  padding:5px 0px 90px 0px;
  background: #FAF7F2;   
}


.subtitle{
  color: #CE2829;
  font-family: 'Satisfy', cursive;
  font-size: 28px;
  margin-bottom: 15px;
 
 
}

.section-title{
  font-family: 'Barlow', sans-serif;
  font-size:42px;
  margin-bottom:30px;
  color: #292929;
 
}

.menu-tabs{
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 40px;
  flex-wrap: wrap;   

}

.menu-tab {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: white;
  padding: 12px 20px;
  border-radius: 40px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-family: 'Barlow', sans-serif;
  border: 1px solid beige;

}

.menu-tab span{    
  font-family: 'Barlow', sans-serif; 
  font-size: 16px;
  
}

.menu-tab img{

  width: 27px;
  height: 27px;
}


.menu-tab:hover {
  background: black;
  color: #FFFFFF;

  cursor: pointer;
}

/*ürün listesi*/

.products{
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  color: #000;
}



.product {
  width: 320px;
  text-align: left;
  font-family: 'Barlow', sans-serif;
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 1rem;
}

.product img{
  width: 100%;
  margin-bottom: 15px;
}

.product-name {
  font-size: 18px;
  font-family: 'Barlow', sans-serif;
  margin-bottom: 8px;
}



 .rating,
.price,
.comment {
  font-size: 16px;
  margin: 3px 0;
}


.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;     
  margin-top: 5px;

}

.comment{
  margin-left: 4rem;
}




/*footer*/


.footer-part {
  background-color: #1A1A1A;
  color: #FFFFFF;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  gap: 7rem;  
  font-family: 'Barlow', sans-serif;
}


.footer-information {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.logo2 {
  width: 180px;
  margin-bottom: 10px;
}


.icon {
  display: flex;
  align-items: center;
  gap: 12px;

}

.icon img{
  width: 21px;
  height: 21px;

}

.icon span{
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  line-height: 1.4rem;
  color: #FFFFFF;
  opacity: 0.6;
}


.footer-menu h4 {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer-menu ul{
  list-style: none;
}

.footer-menu li {
  margin-bottom: 10px;
  color:  #FFFFFF;
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 20px;

}

.footer-menu li:hover{
  color:#CE2829;
  transition: 0.2s;
   cursor: pointer;
}



.footer-instagram h4 {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

.insta-images{
  display: flex;
  flex-wrap: wrap;     
  gap: 12px;           
  width: 280px;   
}

.insta-images img {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 2px;
}



/*çizginin alt kısmı*/

.footer-bottom {
  border-top: 1px solid #FFFFFF26;   
  padding: 25px 0;
  background-color: #1A1A1A;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
}

.copyright{
  font-family: 'Barlow', sans-serif;
  font-size: 12px;
  opacity: 0.6;
 
}

.footer-icon{
  width: 20px;        
  height: 20px;
  
}


/*mobil*/

@media (max-width:700px){

  /*header*/
  .hero {
    height: 100vh;
    background-size: 220%;
    background-position:bottom center;
  }

  .logo{
    width: 220px;
    padding-top: 3rem;

  }

  .hero-italik {
    display: none;
  }

  .hero-title {
    font-size: 3.5rem;
    line-height: normal;
    margin-bottom: 1.3rem;
   margin: 0 2rem;
   
      
  }

  .hero-buton {
    margin-top: 1.5rem;
    padding: 0.8rem 2.5rem;
  }

  /* nav kısmı */
  .menu-nav{
    flex-wrap: wrap;
    gap: 1rem 2rem;
    padding: 1.5rem 0 2rem;
  }

  .nav-item{
    width: 40%;
    display: flex;
    justify-content:flex-start;
    font-size: 0.8rem;

  }

  .nav-item img{
    width: 20px;
    height: 20px;

  }
  

  /*üç kart kısmı*/

  .special-offer {
    padding: 2.5rem 1.5rem;
    
  }

  .special-container{
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;

  }

  .special-left,
  .special-right,
  .special-card {
    width: 100%;
  }




  /* menu kısmı */
  .menu-section {
    padding: 2.5rem 1.5rem 3.5rem;
  }
  .subtitle {
    font-size: 1.4rem;
  }

  .section-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }



  .menu-tabs {
  gap: 1rem;
  }

  .menu-tab {
    padding: 0.6rem 0.8rem;
    width: 45%;
  }

  .menu-tab span {
    font-size: 0.9rem;
  }

  /* ürünler */
  .products {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .product{
    width: 100%;
    max-width: 360px;
    padding: 1.5rem;
  }

  .product-name {
    font-size: 1rem;
  }

  .product-info {
    gap: 0.5rem;
  }


  /*footer*/

  .footer-part {
    padding: 2.5rem 1.5rem;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }

  /*footerın alt kısmı*/ 

  .footer-bottom{
    padding: 1.5rem;
    justify-content: space-between;

  }
}